html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  font-family: "Saira Extra Condensed", sans-serif;
}

h1 {
  font-size: rem(36px);

  @include breakpoint(tablet) {
    font-size: rem(46px);
  }

  @include breakpoint(ldesktop) {
    font-size: rem(72px);
  }
}

h2 {
  font-size: rem(24px);

  @include breakpoint(ldesktop) {
    font-size: rem(36px);
  }
}

p {
  font-family: $font-family-roboto;
  font-size: rem(16px);

  @include breakpoint(ldesktop) {
    font-size: rem(18px);
  }
}

.flex-auto {
  flex: auto;
}

.bg-black {
  background-color: #000000;
}

.strip {
  height: rem(141px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  h1 {
    margin-bottom: 0;
  }

  &.black {
    background-color: #000000;
  }

  &.bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
