.footer-section {
  height: 100vh;
  background-color: #000000;

  @include breakpoint(ldesktop) {
    height: 100vh;
  }

  .fit-image {
    object-fit: cover;
    width: 100%;
  }
}

form {
  label {
    color: #ffffff;
    font-family: $font-family-roboto;
  }

  input {
    height: rem(62px);
  }

  .form-control {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #ffffff;
  }

  textarea {
    height: rem(150px) !important;

    @include media-breakpoint-up(xl) {
      height: rem(260px) !important;
    }
  }

  .btn-submit {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: rem(24px);
    padding: rem(20px) rem(100px);

    @include breakpoint(ldesktop) {
      font-size: rem(36px);
    }
  }
}
